/* Fondo difuminado */
.bg-img-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px) brightness(0.6);
  background: linear-gradient(to bottom, #ff0000, #0026ff);
}

/* Contenedor principal */
.oslo-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  color: rgb(156, 53, 53);
  text-align: center;
}

/* Título */
.titulo {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 40px;
}

/* Galería */
.galeria {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 5px;
}

.foto {
  width: 32%;
  height: 300px;  
  object-fit: cover;
  border-radius: 15px;
}


/* Descripción */
.descripcion {
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 40px;
}

/* Precio */
.precio-box {
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.precio-box h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.precio-box p {
  font-size: 26px;
  font-weight: 700;
}

/* Especificaciones */
.especificaciones {
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.especificaciones h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.especificaciones p {
  font-size: 24px;
}

/* Botón VOLVER */
.volver-btn {
  margin-top: 20px;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 800;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
  transition: 0.3s;
}

.volver-btn:hover {
  transform: scale(1.05);
}
