<!-- Fondo difuminado -->
<img src="berlin.avif" class="bg-img-blur" />

<div class="bremen-container">

  <h1 class="titulo">Bremen</h1>

  <!-- Galería de imágenes -->
  <div class="galeria">
    <img src="bremenh.png" class="foto" alt="foto-salon"/>
    <img src="bremenh1.png" class="foto" alt="foto-baño"/>
    <img src="bremenh2.png" class="foto" alt="foto-habitacion"/>
  </div>

  <!-- Descripción -->
  <p class="descripcion">
    El apartamento es acogedor, luminoso y también un poco especial. Después de la puerta de entrada del apartamento, estás directamente en la primera sala de estar: la sala de estar y el comedor. El sofá es extensible, por lo que no es necesario que otra persona comparta la cama contigo.
    <br><br>
    Desde la sala de estar, se accede directamente a la habitación. Una cama de 1,40 m de ancho, un armario grande y una cómoda te esperan aquí. La ventana da a la terraza privada y también tiene una contraventana.
  </p>

  <!-- Precio -->
  <div class="precio-box">
    <h2>Precio</h2>
    <p>700 € mensual</p>
  </div>

  <!-- Botones -->
  <div class="botones-container">
    <button (click)="abrirEspecificaciones()">Especificaciones</button>
    <button (click)="irAValoraciones()">Valoraciones</button> 
    <button (click)="abrirPago()">Método de Pago</button>
  </div>

  <!-- Especificaciones -->
  @if (mostrarEspecificaciones) {
    <div class="overlay" (click)="cerrarPopup()"></div>
    <div class="popup">
      <h2>Especificaciones</h2>
      <especificacionesbremen></especificacionesbremen>
      <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
    </div>
  }

  <!-- Método de Pago -->
  @if (mostrarPago) {
    <div class="overlay" (click)="cerrarPopup()"></div>
    <div class="popup">
      <h2>Método de Pago</h2>
      <p>Aquí va el contenido del Método de Pago.</p>
      <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
    </div>
  }

  <button class="volver-btn" (click)="volver()">VOLVER</button>

</div>