<!-- Fondo difuminado -->
<img src="berlin.avif" class="bg-img-blur" />

<div class="bremen-container">

  <h1 class="titulo">Bremen</h1>

  <!-- Galería de imágenes -->
  <div class="galeria">
    <img src="lubeckh.png" class="foto" alt="foto-salon"/>
    <img src="lubeckh1.png" class="foto" alt="foto-baño"/>
    <img src="lubeckh2.png" class="foto" alt="foto-habitacion"/>
  </div>

  <!-- Descripción -->
  <p class="descripcion">
    Bienvenido a un clásico edificio antiguo de Berlín que cautiva con todas sus ventajas típicas: techos altos con elegante estuco, un hermoso suelo de tablón y grandes ventanales que dejan entrar abundante luz natural. El espacio emana un ambiente especial a través de su pátina única y el encanto típico del antiguo edificio: el Berlín de la vieja escuela, perfecto para sentirse bien.
    <br><br>
    El mobiliario es sencillo y funcional, ideal para minimalistas o viajeros a los que les guste lo sencillo. Un mini baño con ducha y una pequeña cocina compartida están a tu disposición. Bajo petición, un colchón de grosor medio se puede colocar de manera flexible en el suelo para proporcionar comodidad adicional para dormir. Una mesa plegable en la habitación puede acomodar el trabajo del portátil o proyectos más pequeños.
    <br><br>
    La combinación de estilo clásico de la vieja escuela y comodidad práctica hace de esta habitación una verdadera experiencia de apartamento compartido en Berlín, ideal para disfrutar de la ciudad en un ambiente acogedor.
  </p>

  <!-- Precio -->
  <div class="precio-box">
    <h2>Precio</h2>
    <p>621 € mensual</p>
  </div>

  <!-- Especificaciones -->
  <div class="botones-container">
  <button (click)="abrirEspecificaciones()">Especificaciones</button>
    <button (click)="abrirValoraciones()">Valoraciones</button> 
  <button (click)="abrirPago()">Método de Pago</button>
  </div>

  <!-- Valoraciones -->
  @if (mostrarValoraciones) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <valoraciones1 (cerrar)="cerrarPopup()"></valoraciones1>
  </div>
}
  <!--Especificaciones -->
  @if (mostrarEspecificaciones) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <h2>Especificaciones</h2>

    <especificacionesbremen></especificacionesbremen>

    <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
  </div>

  
} <!--Método de Pago-->
  @if (mostrarPago) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <h2>Método de Pago</h2>

    <p>
      Aquí va el contenido del Método de Pago.
    </p>

    <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
  </div>
}

  <button class="volver-btn" (click)="volver()">VOLVER</button>

</div>
