<!-- Fondo difuminado -->
<img src="tours.jpg" class="bg-img-blur" />

<div class="tours-container">

  <h1 class="titulo">Tours</h1>

  <!-- Galería de imágenes -->
  <div class="galeria">
    <img src="toursh.png" class="foto" alt="foto-salon"/>
    <img src="toursh1.png" class="foto" alt="foto-baño"/>
    <img src="toursh2.png" class="foto" alt="foto-habitacion"/>
  </div>

  <!-- Descripción -->
  <p class="descripcion">
    Este acogedor estudio, situado en pleno centro de Tours, es una opción perfecta para quienes buscan comodidad, practicidad y una ubicación privilegiada. Su diseño luminoso y tranquilo lo convierte en un espacio ideal tanto para estancias cortas como para viajes de trabajo o escapadas urbanas.
    <br><br>
    A menos de 5 minutos a pie encontrarás la estación de tren, el Palacio de Congresos Vinci, el ayuntamiento y el tranvía, lo que facilita enormemente los desplazamientos dentro y fuera de la ciudad. Además, el apartamento está rodeado de comercios esenciales: panadería, supermercado, prensa, restaurantes, bares y lavandería. También se encuentra muy cerca del barrio histórico de Tours, una zona llena de encanto, arquitectura tradicional y vida local.
    </p>

  <!-- Precio -->
  <div class="precio-box">
    <h2>Precio</h2>
    <p>860 € mensual</p>
  </div>

  <!-- Especificaciones -->
  <div class="botones-container">
  <button (click)="abrirEspecificaciones()">Especificaciones</button>
    <button (click)="abrirValoraciones()">Valoraciones</button> 
  <button (click)="abrirPago()">Método de Pago</button>
  </div>

  <!-- Valoraciones -->
  @if (mostrarValoraciones) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <valoraciones1 (cerrar)="cerrarPopup()"></valoraciones1>
  </div>
}
  <!--Especificaciones -->
  @if (mostrarEspecificaciones) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <h2>Especificaciones</h2>

    <especificacionestours></especificacionestours>

    <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
  </div>

  
} <!--Método de Pago-->
  @if (mostrarPago) {
  <div class="overlay" (click)="cerrarPopup()"></div>

  <div class="popup">
    <h2>Método de Pago</h2>

    <p>
      Aquí va el contenido del Método de Pago.
    </p>

    <button class="cerrar-btn" (click)="cerrarPopup()">Cerrar</button>
  </div>
}

  <button class="volver-btn" (click)="volver()">VOLVER</button>

</div>
